* {
  padding: 0;
  font-family: sans-serif;
}

.main {
  background: #fafbfdb9;
  border: 5px solid #abcef2;
  border-radius: 10px;
  max-width: 100%;
  width: 320px;
  height: 75%;
  overflow: scroll;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}

.main::-webkit-scrollbar {
  display: none;
}

.main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h3 {
  margin: 0 auto;
  margin: 20px 0 10px 0;
  font-weight: 500;
}

hr {
  margin-top: 30px;
  background-color: #abcef2;
  height: 1px;
  border: none;
}

::placeholder {
  color: #fff;
}

.input-field {
  width: 100%;
}

input {
  border: none;
  background: #abcef2;
  border-radius: 5px 0px 0px 5px;
}

.myBtn {
  display: flex;
}

.myBtn > input {
  width: 100%;
  padding: 10px;
}

.icon {
  background-color: #83bcf5;
  padding: 10px;
  border-radius: 0 5px 5px 0;
}

.tasks {
  margin: 0 auto;
  border-radius: 5px;
  font-size: 14px;
  display: block !important;
}

/* .post {
  margin: 10px 0px 10px 0;
} */

.icons {
  display: flex;
  margin: 0 auto;
  width: 20%;
  font-size: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  justify-self: center;
  width: 100vw;
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  margin: auto;
  padding-top: 25px;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 15px;
  width: 55%;
  height: fit-content;
  border-radius: 5px;
}

.hr-modal {
  margin-top: 10px !important;
  background-color: #abcef2;
  height: 1px;
  border: none;
}

.modal-head {
  display: flex !important;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeThis {
  background: none !important;
  border: none;
  font-size: 35px;
}

.close > button {
  padding: 8px 17px;
  border: none;
  margin-left: 10px;
  border-radius: 3px;
  color: #fff;
}

.close1 {
  background: #4b4b3c;
}

.save {
  background: #0066ff;
}

#button-area {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-left: 30px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Error Message */

/* #errorMessage {
  color: red;
} */
